body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background:url("mario-bg.jpg");
    background-size: cover;
}

#board {

background-color: rgba(29, 211, 19, 0.937);
height: 540px;
width: 540px;

margin: 0 auto;
display: flex;
flex-wrap: wrap;

background: url("./soil.png");
background-size: cover;
border: 3px solid white;
border-radius: 25px;

}

#board div{
    width: 180px;
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;

}

#board div image{
    /* alll img tags inside the tile div tags  */
    width: 100px;
    height: 100px;
}